# Cube Projects
Build/
Debug/
Release/
.metadata/
.settings/
RemoteSystemsTempFiles/
Drivers/
cmake/stm32cubemx/
.mxproject

*.chm
*.settings.xml

*.xml
*.launch

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*-prefix/
